<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

  <% for(let message of messages) { %>
    <p><strong><%= message.user %>:</strong> <%= message.text %> (Sent on <%= message.added.toDateString() %>)</p>
  <% } %>

  <a href="/new"><button> Make a new Blog post</button></a>
  </body>
</html>
